<div>
  <div class="text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3><%= @week.beginning.to_s(:mdy) %>&mdash;<%= @week.end.to_s(:mdy) %> </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="btn-group">
          <%= link_to show_week_path(@week.previous.ymd_hash) do %>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
          <% end %>
          <%= link_to current_week_path do %>
            <button type="button" class="btn btn-default btn-info <%= 'invisible' if @week.beginning == Week.now.beginning %>">
              <span class="glyphicon glyphicon-home"></span>
            </button>
          <% end %>
          <%= link_to show_week_path(@week.next.ymd_hash) do %>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="timesheet-form">
    <%= form_for @timesheet, :html => { :role => "form" } do |f| %>
      <%= f.hidden_field :id, :value => @timesheet.id %>

      <div class="row">
        <div class="col-md-2">
          <div class="checkbox">
            <label>
              <%= check_box_tag :show_weekends, nil, @timesheet.non_empty_weekend_entries? %>
              Show weekends
            </label>
          </div>
        </div>
        <% if (project_options = grouped_options_for_clients_and_projects_for(@timesheet)).present? %>
          <div class="form-group form-inline col-md-6 col-md-offset-4 text-right add-project">
            <%= f.select :projects, project_options, {}, {:class => "form-control input-sm"} %>
            <%= f.button "Add Project", :value => :add_project, :class => "btn btn-default btn-info btn-sm" %>
          </div>
        <% end %>
      </div>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <th>Project</th>
            <% Entry.days.keys.each do |day_name| %>
              <th class="text-center <%= 'weekend' if Entry.weekend?(day_name) %>"><%= Entry.time_for(@timesheet, day_name).to_s(:md_wd) %></th>
            <% end %>
            <th>Delete</th>
          </thead>
          <tbody>
            <%= f.fields_for :projects, @timesheet.projects.order_for_timesheet do |project_fields| %>
              <tr <%= 'class=warning' if project_fields.object.special? %>>
                <td>
                  <p>
                    <strong><%= project_fields.object.name %></strong><br/>
                    <small><i><%= project_fields.object.client.name %></i></small>
                  </p>
                </td>
                <%= f.fields_for :entries, @timesheet.entries_for(project_fields.object) do |entry_fields| %>
                  <td <%= "class=weekend" if entry_fields.object.weekend?%> >
                    <div class="presence-select form-group form-group-sm text-center">
                      <% if project_fields.object.hourly? %>
                        <%= entry_fields.text_field :hours, :size => 1, :class => "hours form-control input-sm" %>
                      <% else %>
                        <div class="btn-group btn-group-xs" data-toggle="buttons">
                          <label class="btn btn-default btn-xs <%= 'btn-info active' if entry_fields.object.full? %>">
                            <%= entry_fields.radio_button :presence, :full %>
                            &#10003;
                          </label>
                          <label class="btn btn-default btn-xs <%= 'btn-info active' if entry_fields.object.half? %>">
                            <%= entry_fields.radio_button :presence, :half %>
                            &frac12;
                          </label>
                          <label class="btn btn-default btn-xs <%= 'btn-info active' if entry_fields.object.absent? %>">
                            <%= entry_fields.radio_button :presence, :absent %>
                            &#x2717;
                          </label>
                        </div>
                      <% end %>
                    </div>
                  </td>
                <% end %>
                <td>
                  <%= project_fields.check_box :_destroy unless project_fields.object.special? %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_area :notes, :class => "form-control", :rows => 6 %>
      </div>

      <%= f.submit :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
