<%= content_for :top do %>
  <% if @timesheet.locked? %>
    <div class="top-alert alert-danger" role="alert">
      This timesheet is <span class="glyphicon glyphicon-lock"></span>'d.
    </div>
  <% end %>
<% end %>

<% locations = Location.all %>
<div id="timesheet_form">
  <div class="alert-area"></div>
  <div class="text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3><%= @week.beginning.to_s(:mdy) %>&mdash;<%= @week.end.to_s(:mdy) %> </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="btn-group">
          <%= link_to show_week_path(@week.previous.ymd_hash) do %>
            <button type="button" class="btn btn-default">
              <span class="hidden">Previous Week</span>
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
          <% end %>
          <%= link_to current_week_path do %>
            <button type="button" class="btn btn-default btn-info <%= 'invisible' if @week.beginning == Week.now.beginning %>">
              <span class="hidden">Current Week</span>
              <span class="glyphicon glyphicon-home"></span>
            </button>
          <% end %>
          <%= link_to show_week_path(@week.next.ymd_hash) do %>
            <button type="button" class="btn btn-default">
              <span class="hidden">Next Week</span>
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="timesheet-form">
    <%= form_for @timesheet, :html => { :role => "form" } do |f| %>
      <%= f.hidden_field :id, :value => @timesheet.id %>

      <div class="row">
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <%= check_box_tag :show_weekends, nil, @timesheet.non_empty_weekend_entries? %>
              Show weekends
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= check_box_tag :edit_location, nil, @timesheet.entries.any? {|e| e.location != @current_user.location } %>
              Edit location worked
            </label>
            <div class="location inline-bock">
              <span class="location-open glyphicon glyphicon-globe"
                data-toggle="popover"
                data-trigger="focus"
                data-title="Timesheet Location"
                data-content="<%= render(:partial => "location_popover", :locals => {:model => @timesheet, :locations => locations}).gsub(/\"/,"\"") %>"
                data-model="timesheet"
                data-model-id="<%= @timesheet.id %>"
                data-location-id="<%= @timesheet.entries.sample.location_id if @timesheet.entries.map(&:location).uniq.size == 1 && @timesheet.entries.any? {|e| e.location != @current_user.location } %>"
              ></span>
            </div>
            <div class="location">
              <small>Your default location: <b id="current_user_location" data-location-id="<%= @current_user.location.id %>"><%= @current_user.location %></b></small>
              <span class="glyphicon glyphicon-question-sign has-tooltip" title="Is this incorrect? Contact an admin to change it!"></span>
            </div>
          </div>
        </div>
        <% if (project_options = grouped_options_for_clients_and_projects_for(@timesheet)).present? %>
          <div class="form-group form-inline col-md-6 col-md-offset-2 text-right add-project">
            <%= f.label :projects, "Add Project", :class => "hidden" %>
            <%= f.select :projects, project_options, {}, {:class => "form-control input-sm", :disabled => locked?} %>
            <%= f.button "Add Project", :value => :add_project, :class => "btn btn-default btn-info btn-sm", :disabled => locked? %>
          </div>
        <% end %>
      </div>

      <div class="row table-responsive">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <th>Project</th>
            <% Entry.days.keys.each do |day_name| %>
              <th class="text-center <%= 'weekend' if Entry.weekend?(day_name) %>"><%= Entry.time_for(@timesheet, day_name).to_s(:md_wd) %></th>
            <% end %>
            <th>Delete</th>
          </thead>
          <tbody>
            <%= f.fields_for :projects, sort_projects(@timesheet) do |project_fields| %>
              <% project = project_fields.object %>
              <% projects_timesheet = @timesheet.projects_timesheet_for(project) %>
              <tr <%= 'class=warning' if project.sticky? %>>
                <td>
                  <div>
                    <strong><%= project.name %></strong><br/>
                    <small><i><%= project.client.name %></i></small>
                  </div>
                </td>
                <%= f.fields_for :entries, @timesheet.entries_for(projects_timesheet).sort_by(&:date) do |entry_fields| %>
                  <td <%= "class=weekend" if entry_fields.object.weekend?%> >
                    <div class="form-group form-group-sm text-center">
                      <% if project.hourly? %>
                        <%= entry_fields.text_field :hours, :size => 1, :class => "hours form-control input-sm center-block", :disabled => locked? && project.billable? %>
                      <% else %>
                        <div class="presence-select">
                          <%= entry_fields.hidden_field :presence, :class => "presence-memo" %>
                          <div class="btn-group btn-group-xs" data-toggle="buttons">
                            <label data-presence="absent" class="btn btn-default btn-xs <%= 'color active' if entry_fields.object.absent? %> <%= 'disabled' if locked? && project.billable? %>">
                              <%= radio_button_tag :presence, :absent %>
                              &#x2717;
                            </label>
                            <label data-presence="half" class="btn btn-default btn-xs <%= 'color active' if entry_fields.object.half? %> <%= 'disabled' if locked? && project.billable? %>">
                              <%= radio_button_tag :presence, :half %>
                              &frac12;
                            </label>
                            <label data-presence="full" class="btn btn-default btn-xs <%= 'color active' if entry_fields.object.full? %> <%= 'disabled' if locked? && project.billable? %>">
                              <%= radio_button_tag :presence, :full %>
                              &#10003;
                            </label>
                          </div>
                        </div>
                      <% end %>
                      <% unless project.non_billable? %>
                        <div class="location">
                          <span class="location-open glyphicon glyphicon-globe <%= 'customized' if entry_fields.object.location != @current_user.location %>"
                            data-toggle="popover"
                            data-trigger="focus"
                            data-title="Timesheet Location"
                            data-content="<%= render(:partial => "location_popover", :locals => {:model => entry_fields.object, :locations => locations}).gsub(/\"/,"\"") %>"
                            data-model="entry"
                            data-model-id="<%= entry_fields.object.id %>"
                            data-location-id="<%= entry_fields.object.location_id %>"
                          ></span>
                        </div>
                      <% end %>
                    </div>
                  </td>
                <% end %>
                <td>
                  <%= project_fields.check_box :_destroy, :disabled => locked? unless project.sticky? %>
                </td>
              </tr>
              <% if project.requires_notes? %>
                <%= f.fields_for :projects_timesheets, projects_timesheet do |projects_timesheet_fields| %>
                  <tr>
                    <td>
                      <%= projects_timesheet_fields.label :notes, "Summary notes" %>
                    </td>
                    <td colspan="99">
                      <%= projects_timesheet_fields.text_area :notes, :class => "form-control", :rows => 3 %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="form-group text-right">
        <%= f.submit :class => "btn btn-default" %>
        <%= f.submit :value => "Ready to Invoice", :class => "btn btn-danger", :disabled => locked?, :data => {:confirm => ready_to_invoice_confirm_text(@timesheet)} if @week.invoice_week? %>
      </div>
    <% end %>
  </div>
</div>
