<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_tag nil, :role => "form" do %>
      <div class="form-group">
        <%= label_tag :user %>
        <%= select_tag :impersonated_user_id, options_for_select(User.all.reject {|u| u == @logged_in_user }.map {|u| [u.name, u.id]}, @current_user.id), :class => "form-control" %>
      </div>
      <div class="form-group text-right">
        <%= submit_tag "Impersonate", :class => "btn btn-default" %>
        <% if @impersonated_user.present? %>
          <%= submit_tag "Stop impersonating", :class => "btn btn-default btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
