<div class="invoices show">
  <div class="row">
    <div class="col-md-4">
      <h3>Invoice to <%= @invoice.project.client.name %></h3>
      <p>
        <strong>Project:</strong> <%= @invoice.project.name %>
        <br/>
        <small><i><%= @invoice.subject %></i></small>
      </p>
    </div>
  </div>
  <% @invoice.timesheets.group_by(&:user).each do |(user, timesheets)| %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <h3><%= user.name %></h3>
          <p>
            <strong>Weeks:</strong>
            <%= timesheets.map {|t| t.week.beginning.to_s(:mdy) }.join(", ") %>
            <% if timesheets.size < 2 %>
              <span class="warning glyphicon glyphicon-warning-sign" title="Time only submitted for one week of invoicing period"></span>
            <% end %>
          </p>
          <p>
            <strong>Ready to invoice?</strong>
            <% ready_to_invoice = timesheets.find {|t| t.week.invoice_week? }.try(:ready_to_invoice?) %>
            <%= ready_to_invoice ? "Yes" : "No" %>
            <% if !ready_to_invoice %>
              <span class="danger glyphicon glyphicon-warning-sign" title="User did not mark timesheet ready-to-invoice"></span>
            <% end %>
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% projects_timesheets = timesheets.map {|t| t.projects_timesheet_for(@invoice.project) }.select(&:notes?) %>
        <% if projects_timesheets.present? %>
          <h4>Project notes <small>(included in invoice)</small></h4>
          <% projects_timesheets.each do |pt| %>
            <p>
              <small><pre><%= pt.notes %></small></pre>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% if timesheets.any?(&:notes?) %>
          <h4>Timesheet notes <small>(not included in invoice)</small></h4>
          <% timesheets.select(&:notes?).each do |t| %>
            <p>
              Notes for <%= t.week.beginning.to_s(:mdy) %>:<br/>
              <small><pre><%= t.notes %></small></pre>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="breather-top row">
    <div class="text-right">
      <%= form_for @invoice.active_record_invoice, :url => send_invoice_to_harvest_path(@invoice.id) do |f| %>
        <%= f.submit 'Send invoice to Harvest', :class => "btn btn-default" %>
        <% if @invoice.harvest_id.present? %>
          <%= link_to "https://#{Rails.application.config.harvest.subdomain}.harvestapp.com/invoices/#{@invoice.harvest_id}" do %>
            <div class="btn btn-info">View invoice in Harvest</div>
          <% end %>
        <% else %>
          <div class="btn btn-info disabled">View invoice in Harvest</div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
