<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Invoice to <%= @invoice.project.client.name %></h3>
    <p>
      <strong>Project:</strong> <%= @invoice.project.name %>
      <br/>
      <small><i><%= @invoice.subject %></i></small>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Timesheets</h3>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-condensed">
        <thead>
          <th>User</th>
          <th>Week</th>
          <th>Note</th>
        </thead>
        <tbody>
          <% @invoice.timesheets.group_by(&:user).each do |(user, timesheets)| %>
            <% timesheets.each do |timesheet| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= timesheet.week.beginning.to_s(:mdy) %></td>
                <td><small><pre><%= timesheet.notes? ? timesheet.notes : "N/A" %></small></pre></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <%= form_for @invoice.active_record_invoice do |f| %>
      <%= f.hidden_field :id, :value => @invoice.id %>
      <%= f.submit 'Re-send invoice to Harvest', :class => "btn btn-default" %>
      <%= link_to "https://#{Rails.application.config.harvest.subdomain}.harvestapp.com/invoices/#{@invoice.harvest_id}" do %>
        <div class="btn btn-info">View invoice in Harvest</div>
      <% end %>
    <% end %>

  </div>
</div>
