<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-condensed">
        <thead>
          <th>Week-ending</th>
          <th>Client</th>
          <th>Project</th>
          <th>Sent to Harvest</th>
          <th><!-- Actions --></th>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.invoicing_week.end.to_s(:mdy) %></td>
              <td><%= invoice.project.client.name %></td>
              <td><%= invoice.project.name %></td>
              <td><%= invoice.timesheets.map(&:projects_timesheets).flatten.map(&:sent_to_harvest_at).compact.max.try(:to_s, :mdy) %></td>
              <td>
                <%= form_for invoice.active_record_invoice do |f| %>
                  <% if invoice.persisted? %>
                    <%= f.hidden_field :id, :value => invoice.id %>
                  <% else %>
                    <%= f.hidden_field :invoicing_week, :value => invoice.invoicing_week.ymd_dash %>
                    <%= f.hidden_field :project_id, :value => invoice.project.id %>
                  <% end %>
                  <%= f.submit 'Review invoice', :class => "btn btn-default" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
