<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @timesheet_status.looks_good %>
      <div class="timesheet-status looks-good">
        <h3>Timesheets look good!</h3>
      </div>
    <% else %>
      <div class="timesheet-status looks-bad">
        <h3>Timesheet problems:</h3>
        <ul>
          <% if @timesheet_status.actual_count < @timesheet_status.expected_count %>
            <li><%= @timesheet_status.actual_count %> of <%= @timesheet_status.expected_count %> expected timesheets created (for <%= @timesheet_status.user_count %> active users)</li>
          <% end %>
          <% @timesheet_status.missing_timesheets.each do |missing_timesheet| %>
            <li>Missing <%= missing_timesheet.user.name %>'s timesheet for week starting <%= missing_timesheet.week.ymd_dash %></li>
          <% end %>
          <% @timesheet_status.not_ready_timesheets.group_by(&:user).each do |(user, timesheets)| %>
            <li><%= user.name %>'s timesheet not marked ready.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Invoice Status (<%= @invoice_todos.weeks.first.beginning.to_s(:mdy) %>&mdash;<%= @invoice_todos.weeks.last.end.to_s(:mdy) %>)</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-condensed">
        <thead>
          <th>Client</th>
          <th>Project</th>
          <th>Agents</th>
          <th>Sent to Harvest</th>
          <th><!-- Actions --></th>
        </thead>
        <tbody>
          <% @invoice_todos.todos.each do |todo| %>
            <tr>
              <td><%= todo.client_name %></td>
              <td><%= todo.project.name %></td>
              <td><%= todo.agent_count %></td>
              <td>
                <% if todo.all_time_sent_to_harvest %>
                  <span class="glyphicon glyphicon-ok success"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove danger"></span>
                <% end %>
              </td>
              <td>
                <%= form_for todo.invoice || i = Invoice.new(@invoice_todos.weeks.last.ymd_hash.merge(:project => todo.project)) do |f| %>
                  <% if todo.invoice %>
                    <%= f.hidden_field :id, :value => todo.invoice.id %>
                    <%= f.submit 'Review invoice', :class => "btn btn-default" %>
                  <% else %>
                    <%= f.hidden_field :invoicing_week, :value => i.invoicing_week.ymd_dash %>
                    <%= f.hidden_field :project_id, :value => todo.project.id %>
                    <%= f.submit 'Create invoice', :class => "btn btn-default" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
