<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @user, :role => "form" do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <%= f.fields_for @user.github_account do |github_account_fields| %>
        <div class="form-group">
          <%= github_account_fields.label :login %>
          <%= github_account_fields.text_field :login, :disabled => true %>
        </div>
        <div class="form-group">
          <%= github_account_fields.label :email %>
          <%= github_account_fields.text_field :email, :disabled => true %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :active %>
        <%= f.check_box :active %>
      </div>
      <div class="form-group">
        <%= f.label :full_time %>
        <%= f.check_box :full_time %>
      </div>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.select :location_id, options_for_select(Location.all.map {|l| [l.to_s, l.id]}, @user.location_id), {}, { :class => "form-control"} %>
      </div>
      <div class="text-right">
        <%= f.submit "Save", :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
