<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @client, :role => "form" do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :disabled => true %>
      </div>
      <div class="form-group">
        <%= f.label :active %>
        <%= f.check_box :active %>
      </div>
      <div class="text-right">
        <%= f.submit "Save", :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
