<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag 'generate', :method => "get" do |f| %>
      <div class="form-group">
        <%= label_tag :start_date %>
        <%= date_field_tag :start_date, nil, :placeholder => "yyyy-mm-dd" %>
      </div>
      <div class="form-group">
        <%= label_tag :end_date %>
        <%= date_field_tag :end_date, nil, :placeholder => "yyyy-mm-dd" %>
      </div>
      <div class="form-group">
        <%= label_tag :type %>
        <%= select_tag :type, options_for_select([
          ["Income by Location", "income-by-location"],
          ["Income by Agent", "income-by-user"]
        ]), {:class => "form-control input-sm"} %>
      </div>
      <div class="form-group text-right">
        <%= submit_tag "Generate Report", :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
