<!DOCTYPE html>
<html>
<head>
  <title>Test Double - Present</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @impersonated_user.present? %>
    <div class="alert alert-info" role="alert">
      Impersonating <%= @impersonated_user.name %>
      (<%= link_to "Change", impersonations_path %>)
    </div>
  <% end %>
  <div class="container">
    <% if @current_user.present? %>
      <div class="text-right">
        <small>Welcome, <%= @current_user.name %>!</small>
      </div>
    <% end %>
    <% flash.each do |(mode, messages)| %>
      <% if messages.present? %>
        <div class="alert alert-<%= css_class_for_flash_key(mode) %>" role="alert">
          <% messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    <footer class="text-center">
      <% if @current_user.present? %>
        <%= link_to "Home", root_path %>
        | <%= link_to "Logout", logout_path %>
        <% if @current_user.admin? %>
          | <%= link_to "New Invoice", new_invoice_path %>
          | <%= link_to "Invoices Waiting for Submission", todo_invoices_path %>
          | <%= link_to "Users", users_path %>
          | <%= link_to "Reports", new_report_path %>
          | <%= link_to "Impersonate User", impersonations_path %>
        <% end %>
      <% end %>

    </footer>
  </div>
</body>
</html>
