<!DOCTYPE html>
<html>
<head>
  <title>Present</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h2>Hello, <%= @current_user.name %>!</h2>
    <%= yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
